
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
allure-results/
allure-report/
allure-history/

# Env/локальные штуки
.env
.env.*
*.log
*.tmp
.DS_Store

# Playwright артефакты (на всякий случай, если поменяешь пути)
*.zip
*.trace.zip